<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="styles/scrollbar.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="src/assets/img/logo.png">
    <title>Avistei - T. cerrulatus</title>
</head>

<body style="background-image: url('src/assets/img/topside.png'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; position: relative;">
    <div id="app"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.9"></script>
    <script>
        new Vue({
            el: '#app',
        template: `
        <div class="container">

            <!-- Navbar -->
<div style="padding-bottom: 5%;">
 <nav class="d-flex align-items-center justify-content">
     <img src="src/assets/img/logo.png" class="logo">
     
     <a href="animals.html" class="d-flex flex-column align-items-center">
         <img src="src/assets/img/fav/favicon-animals.png" style="max-width: 20%;">
         <span>Animais</span>
     </a>
     
     <a href="about.html" class="d-flex flex-column align-items-center">
         <img src="src/assets/img/fav/favicon-projeto.png" style="max-width: 20%;">
         <span>Projeto</span>
     </a>
     
     <a href="health.html" class="d-flex flex-column align-items-center">
         <img src="src/assets/img/fav/favicon-saude.png" style="max-width: 20%;">
         <span>Saúde</span>
     </a>
 </nav> 
</div>


<div class="row">

<!-- Buttons / Content -->
 <div class="col-sm-5">
   <div class="text-container">
     <h3>Escorpião Amarelo<i>(Tityus serrulatus)</i></h3>
     <p>
       O escorpião amarelo (Tityus serrulatus) é um artrópode invertebrado que pertence à classe dos aracnídeos. O escorpião amarelo é uma das 1600 espécies (e subespécies) de escorpião catalogadas em todo o mundo. No Brasil, são encontradas cerca de 140 espécies, sendo o escorpião amarelo um dos de maior incidência, sobretudo na região sudeste do país. Além de ser encontrado em São Paulo, Rio de Janeiro, Minas Gerais e Espírito Santo, são encontrados também em Goiás, no Paraná e na Bahia.
       <br><br>
       Seu veneno é neurotóxico, ou seja, age no sistema nervoso periférico. Pode ser letal, dependendo da quantidade de veneno injetada e das condições físicas da vítima (principalmente crianças e idosos), sendo responsável pela maioria dos acidentes graves no Brasil, principalmente em regiões urbanas do estado de Minas Gerais.
       <br><br>
       O escorpião amarelo é carnívoro. Alimenta-se de baratas, aranhas, podendo ocorrer inclusive canibalismo. Sobrevive sem alimentação por um tempo prolongado. De hábitos noturnos, os escorpiões vivem em locais escuros, quentes e úmidos. Na região urbana, são encontrados em locais com entulhos, pedras, dentro de sapatos, junto a roupas, etc. Seu hábitat natural é o Cerrado.
     </p>
<p>
 <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
   Sobre o animal
 </button>
 <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2" aria-expanded="false" aria-controls="collapseWidthExample2">
   Sofri um acidente
 </button>
</p>


<div style="min-height: 120px;">
 
 <div class="collapse collapse-horizontal" id="collapseWidthExample">
   <div class="card card-body-lg" style="max-width: 600px; width: 600px;word-break: break-word;">
<ul>
 <li>Tityus serrulatus</li>
 <li>O Tityus serrulatus é encontrado principalmente no Brasil, particularmente nas regiões nordeste e sudeste do país.</li>
 <li>É considerado uma das espécies de escorpiões mais perigosas e comuns no Brasil.</li>
 <li>Seu tamanho é relativamente pequeno, variando de cerca de 5 a 7 centímetros de comprimento.</li>
 <li>Sua coloração varia de amarelo claro a amarelo-alaranjado.</li>
 <li>O Tityus serrulatus possui veneno potente e neurotóxico.</li>
 <li>Embora suas picadas sejam raramente fatais, podem causar complicações sérias, especialmente em crianças pequenas, idosos e pessoas com condições de saúde pré-existentes.</li>
 <li>São noturnos e tendem a se esconder durante o dia.</li>
 <li>São encontrados principalmente em áreas urbanas, em locais como pilhas de entulho, frestas em paredes, buracos e dentro de calçados.</li>
 <li>Seu veneno contém neurotoxinas que afetam o sistema nervoso, podendo causar paralisia muscular e, em casos extremos, levar à morte.</li>
</ul>
   </div>
 </div>

 <div class="collapse collapse-horizontal" id="collapseWidthExample2">
   <div class="card card-body-lg" style="max-width: 600px; width: 600px;word-break: break-word;">
<ol>
 <li>Mantenha a calma: É essencial manter a calma para evitar que o veneno se espalhe mais rapidamente pelo corpo.</li>
 <li>Lave o local da picada: Lave cuidadosamente o local da picada com água e sabão. Isso ajudará a reduzir a chance de infecção.</li>
 <li>Imobilize o membro afetado: Mantenha a área picada imóvel e elevada, se possível.</li>
 <li>Busque atendimento médico imediatamente: Procure assistência médica o mais rápido possível. Ligue para o serviço de emergência local ou vá para o hospital mais próximo. </li>
 <li>Observe os sintomas: Fique atento a qualquer sinal ou sintoma que possa surgir após a picada, como dor intensa no local, inchaço, vermelhidão, sudorese, taquicardia, dificuldade para respirar, visão turva, náuseas, vômitos ou convulsões. Anote os sintomas e informe-os aos profissionais de saúde.</li>
 <li>Não tente tratar a picada em casa: Evite aplicar remédios caseiros, como cortes, sucção do veneno ou aplicação de torniquetes. Essas medidas podem causar mais danos e não são eficazes no tratamento de picadas de escorpião.</li>
</ol>
   </div>
 </div>

</div>

<div style="min-height: 120px; overflow-x: visible;">
 
</div>




   </div>
 </div>

<!-- Hero Animal --> 
<div class="col-sm-5">
 <div class="image-container">
   <img src="src/assets/img/animals/escorpsamarelo.jpg" alt="Imagem" class="img-fluid rounded-circle animal">
 </div>
</div>

</div>

<br>
<!-- Comments -->
       <h1>Você avistou um desses? Conte-nos!</h1>
               <hr/>
               
               <div class="form-todo form-group">
                   <p>
                       <input type="text" name="author" placeholder="nome" class="form-control-lg" v-model="name">
                   </p>
                   <p>
                       <textarea name="message" placeholder="comentário" class="form-control-lg" v-model="message"></textarea>
                   </p>
                   
                   <button v-on:click="addComment" type="submit" class="btn btn-success" style="-webkit-box-shadow: 3px 3px 5px 5px #000000; box-shadow: 5px 5px 15px 5px #000000;">Comentar</button>
               </div>
               <br>
               
               <div class="list-group">
                   <div class="list-group-item" v-for="(comment, index) in allComments">
                       <span class="comment__author">Autor: <strong>{{ comment.name }}</strong></span>
                       <p>{{ comment.message }}</p>
                       <div>
                           <p><a href="#" title="Excluir" v-on:click.prevent="deleteComment(index)">Excluir</a></p>
                       </div>
                   </div>
               </div>
               
               <hr/>
</div>  `,
        data() {
            return {
                comments: [],
                name:'', message: '',
            }
        },
        methods: {
            addComment() {
                if(this.message.trim() === ''){return;}
                this.comments.push({name: this.name, message:this.message});
                this.name ='';
                this.message = '';
            },

            deleteComment(index) {this.comments.splice(index, 1)},
            getImage() {return 'trip.jpg'}
            
        },
        computed:{
            allComments(){
                return this.comments.map(comment => ({
                  ...comment,
                   name: comment.name.trim() === '' ? 'Anônimo' : comment.name
                }))
            }
        },
        watch:{
            comments(val) {
                console.log('val', val);
            }
        }
    });
</script>

    </body>
</html>

