<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="styles/scrollbar.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="src/assets/img/logo.png">
    <title>Avistei - Phoneutrias</title>
</head>

<body style="background-image: url('src/assets/img/topside.png'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; position: relative;">
    <div id="app"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.9"></script>
    <script>
        new Vue({
            el: '#app',
        template: `

        <div class="container">

            <!-- Navbar -->
<div style="padding-bottom: 5%;">
 <nav class="d-flex align-items-center justify-content">
     <img src="src/assets/img/logo.png" class="logo">
     
     <a href="animals.html" class="d-flex flex-column align-items-center">
         <img src="src/assets/img/fav/favicon-animals.png" style="max-width: 20%;">
         <span>Animais</span>
     </a>
     
     <a href="about.html" class="d-flex flex-column align-items-center">
         <img src="src/assets/img/fav/favicon-projeto.png" style="max-width: 20%;">
         <span>Projeto</span>
     </a>
     
     <a href="health.html" class="d-flex flex-column align-items-center">
         <img src="src/assets/img/fav/favicon-saude.png" style="max-width: 20%;">
         <span>Saúde</span>
     </a>
 </nav> 
</div>



<div class="row">

<!-- Buttons / Content -->
 <div class="col-sm-5">
   <div class="text-container">
     <h3>Aranha-armadeira<i>(Phoneutria)</i></h3>
     <p>
       Aranha-armadeira, também conhecida como aranha-de-bananeira, é o nome dado a oito espécies de aranhas do gênero Phoneutria. Elas apresentam em comum o fato de adotarem uma posição de ataque quando se sentem encurraladas. Nessas situações, essas aranhas erguem suas pernas dianteiras, apoiando-se sobre as traseiras. A posição deixa à mostra seus ferrões, os quais utiliza para injetar seu poderoso veneno.
     </p>
<p>
 <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
   Sobre o animal
 </button>
 <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2" aria-expanded="false" aria-controls="collapseWidthExample2">
   Sofri um acidente
 </button>
</p>


<div style="min-height: 120px;">
 
 <div class="collapse collapse-horizontal" id="collapseWidthExample">
   <div class="card card-body-lg" style="max-width: 600px; width: 600px;word-break: break-word;">
<ul>
 <li>Phoneutria</li>
 <li>As aranhas-armadeiras podem variar em tamanho, com as fêmeas geralmente maiores que os machos</li>
 <li>Sua coloração varia de marrom a castanho-avermelhado, com marcas distintas em forma de "violino" no dorso do cefalotórax</li>
 <li>Elas possuem pernas longas e finas em relação ao tamanho do corpo</li>
 <li>A aranha-armadeira é conhecida por ser agressiva e defensiva. Ela pode assumir uma postura de ameaçada</li>
 <li>A aranha-armadeira possui um veneno potente. Seu veneno neurotóxico pode causar sintomas graves em humanos</li>
 <li>As aranhas-armadeiras são predominantemente noturnas, saindo de suas tocas durante a noite para caçar</li>
 <li>Elas se alimentam principalmente de insetos, como grilos, baratas e até mesmo outras aranhas</li>
 <li>A reprodução das aranhas-armadeiras envolve um ritual complexo, no qual o macho realiza uma série de movimentos de cortejo</li>
</ul>
   </div>
 </div>

 <div class="collapse collapse-horizontal" id="collapseWidthExample2">
   <div class="card card-body-lg" style="max-width: 600px; width: 600px;word-break: break-word;">
<ol>
 <li>Identifique a aranha</li>
 <li>Lave o local da picada</li>
 <li>Aplique compressa fria</li>
 <li>Mantenha-se calmo</li>
 <li>Evite aplicar métodos caseiros</li>
 <li>Não tente sugar o veneno</li>
 <li>Imobilize a área</li>
 <li>Procure atendimento médico</li>
 <li>Medidas preventivas</li>
 <li>Siga as orientações médicas</li>
</ol>
   </div>
 </div>

</div>

<div style="min-height: 120px; overflow-x: visible;">
 
</div>




   </div>
 </div>

<!-- Hero Animal --> 
<div class="col-sm-5">
 <div class="image-container">
   <img src="src/assets/img/animals/armadeira.jpg" alt="Imagem" class="img-fluid rounded-circle animal">
 </div>
</div>

</div>

<br>
<!-- Comments -->
       <h1>Você avistou um desses? Conte-nos!</h1>
               <hr/>
               
               <div class="form-todo form-group">
                   <p>
                       <input type="text" name="author" placeholder="nome" class="form-control-lg" v-model="name">
                   </p>
                   <p>
                       <textarea name="message" placeholder="comentário" class="form-control-lg" v-model="message"></textarea>
                   </p>
                   
                   <button v-on:click="addComment" type="submit" class="btn btn-success" style="-webkit-box-shadow: 3px 3px 5px 5px #000000; box-shadow: 5px 5px 15px 5px #000000;">Comentar</button>
               </div>
               <br>
               
               <div class="list-group">
                   <div class="list-group-item" v-for="(comment, index) in allComments">
                       <span class="comment__author">Autor: <strong>{{ comment.name }}</strong></span>
                       <p>{{ comment.message }}</p>
                       <div>
                           <p><a href="#" title="Excluir" v-on:click.prevent="deleteComment(index)">Excluir</a></p>
                       </div>
                   </div>
               </div>
               
               <hr/>
</div>        `,
        data() {
            return {
                comments: [],
                name:'', message: '',
            }
        },
        methods: {
            addComment() {
                if(this.message.trim() === ''){return;}
                this.comments.push({name: this.name, message:this.message});
                this.name ='';
                this.message = '';
            },

            deleteComment(index) {this.comments.splice(index, 1)},
            getImage() {return 'trip.jpg'}
            
        },
        computed:{
            allComments(){
                return this.comments.map(comment => ({
                  ...comment,
                   name: comment.name.trim() === '' ? 'Anônimo' : comment.name
                }))
            }
        },
        watch:{
            comments(val) {
                console.log('val', val);
            }
        }
    });
</script>

    </body>
</html>

